@import "color";


@mixin standart__block-custom{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

@mixin button{
  color: $white-color;
  background: $background-color__button;
  border: none;
}

@mixin underline{
  content: "";
  width: 75px;
  height: 2px;
  background: red;
  position: absolute;
  margin-top: 43px;
}
@mixin underline_alternative{
  background: $timeline-color;
}

@mixin block_center{
  width: 100%;
  padding: 80px;
  padding-bottom: 0;
  line-height: 1.2;
}

@mixin title__underline{
  & h1 {
    font: {
      size: 2em;
      weight: 600;
    };
  }
  & p {
    font-size: 0.875em;
  }
  & span::before {
    @include underline;
  }
}
@mixin popover_style{
  background: $main-color;
  padding: 18px;
  font-size: 1em;
  color:$white-color;
  border-radius: 8px;
  span{
    font-weight: 600;
  }
  .work-information p:nth-child(2){
    font-size: 0.875em;
  }
  .work-information p:first-child{
    color:#fb6470;
    text-transform: uppercase;
  }
}
@mixin timeline-circle{
  content: "";
  position: absolute;
  border-radius: 50%;
  border:2px solid #000;
}

@mixin popover_style{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 16px 10px 0;
  border-color: transparent $main-color transparent transparent;
}

@mixin blocks_between{
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 80px;
}

@mixin skills__sidebar{
  .skills__sidebar{
    &-title{
      padding: 30px;
      & h1{
        padding-bottom: 20px;
      }
    }
  }
  width: 40%;
}

@mixin placeholder{
  color:#ccc;
  font-style: italic;
}
@mixin file-forms{
  padding: 10px;
  font:{
    size: 0.875em;
    style: italic;
  };
  width: 80%;
  border: 1px solid #000;
  margin-top: 25px;
}